html {
  font-family: "Noto Serif", serif;
}

body {
  background-color: #fff;
}

span {
  color: #70ad55;
}

input, select {
  border-color: #6e8c62;
}

[type="checkbox"] + label::before {
  border-color: #6e8c62;
}

[type="radio"] + label::before {
  border-color: #6e8c62;
}

textarea {
  border-color: #6e8c62;
}

fieldset {
  /* border-bottom: solid;
  border-color: #70ad55;
  border-width: thin; */
  border: none;
}

.line {
  border-bottom: solid;
  border-color: #70ad55;
  border-width: .5px;
}

.contact {
  padding: 0;
}

.deck {
  background-color: #70ad55;
}

.deck h1 {
  color: #fff;
}

.deck p {
  color: #fff;
}

.btn {
  color: #fff;
}

.btn-light {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

.radio {
  display: inline-block;
}

#details {
  height: 150px;
}
